.img{
    width: 350px;
}

.img1{
    grid-row: 1/8;
    grid-column: 1/4;
}
.img2{
    grid-row: 8/16;
    grid-column: 1/4;
}

.img3{
    grid-row: 16/24;
    grid-column: 1/4;
}

.img4{
    grid-row: 24/33;
    grid-column: 1/4;
}
.img5{
    grid-row: 1/7;
    grid-column: 4/7;
}
.img6{
    grid-row: 7/14;
    grid-column: 4/7;
}
.img7{
    grid-row: 14/23;
    grid-column: 4/7;
}
.img8{
    grid-row: 23/33;
    grid-column: 4/7;
}
.img9{
    grid-row: 1/11;
    grid-column: 7/10;
}
.img10{
    grid-row: 11/18;
    grid-column: 7/10;
}
.img11{
    grid-row: 18/27;
    grid-column: 7/10;
}
.img12{
    grid-row: 27/33;
    grid-column: 7/10;
}

